<link href="@Url.Content("~/Content/MyStyles.css")" rel=" stylesheet" type="text/css" />
@model Movies.Models.Review


<h2 class="text-center">Review</h2>

<strong class="text-right col-xs-5">
    @Html.DisplayNameFor(model => model.Name)
</strong>  
<p class="text-left col-xs-7">@Html.DisplayFor(model => model.Name)</p>

<strong class="text-right col-xs-5">
    @Html.DisplayNameFor(model => model.StarRating)
</strong>
<p class="text-left col-xs-7">@Html.DisplayFor(model => model.StarRating)</p>

<strong class="text-right col-xs-5">
    @Html.DisplayNameFor(model => model.Recommend)
</strong>
<p class="text-left col-xs-7">@Html.DisplayFor(model => model.Recommend)</p>

<strong class="text-right col-xs-5">
    @Html.DisplayNameFor(model => model.Comments)
</strong>
<p class="text-left col-xs-7">@Html.DisplayFor(model => model.Comments)</p>

@using (Html.BeginForm())
{
    <div class="form-actions no-color col-sm-offset-5">
        <input type="submit" value="Delete" class="btn btn-default btn-danger" />
            @Html.ActionLink("Return to Reviews", "Reviews", "Review", new { @class = "homebutton" })
    </div>
}
